body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
</style>
</head>
</body>
<nav>

<ul>
  <li style="font-size:100%;"><a class="active" href="/index.html">HOME</a></li>
  <li style="font-size:100%;"><a href="/About.html">ABOUT</a></li>
  <li style="font-size:100%;"><a href="/Portfolio.html/index.html">PORTFOLIO</a></li>
  <li style="font-size:100%;"><a href="/Random.html">RANDOM</a></li>
  <li style="float:right;font-size:100%"><a href="https://youtu.be/4JZSJ49gVJw">MORE</a></li>
</ul>
</nav>

<style>
body {background-color: lightskyblue;}
h1   {color: black;}
p    {color: black;}
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 25px;
  text-decoration: none;
}
li a:hover {
  background-color: darksalmon;
}
</style>
